
/************************ VARIABLES **********************************/

:root {
  --boutons_bleus : #35cfdb;
  --boutons_roses : #ff7276;
  --dark: #006573;
  --light: #f8f9fa;
}


/************************ BALISES ************************************/
body {
  background-color: #333;
  margin: 2em auto;
}
h1, h2, h3, h4 {
  text-align:center; 
  font-weight: normal;
}
a {
  text-decoration: none;
  color: white;
  /* background-color: #ff8300; */
  /* background-color: orangered;  */
  display: block;
  padding: .1em;
  width: 95%;
  /* border: 1px solid white; */
  line-height: 1.1em;
  margin: 0;
}
a:hover {
  color: black !important;
  text-decoration: none !important;
  /* background-color: orange;  */
}
hr {
  background-color: silver !important;
  border-width: 1px;
}
table {
  /* margin: 50px auto; */
  margin: 0 auto;
  background-color: white;
  width: 95%;
}
tr:first-child > th {
  background-color: silver;
}
tr {
  min-height: 70px;
}
th, td {
  /* padding: 1em .5em; */
  /* background-color: white; */
  text-align: center;
  vertical-align: middle;
}


/*******************  BOITE À OUTILS ID  ***************************/

#success {
  height: 500px;
  padding: 100px 0;
  /* border: 5px green solid; */
}



/*******************  BOITE À OUTILS CLASSES  **********************/
.center {
  display: block;
  margin: 0 auto;
}
.w-95 {
  width: 95%;
}
.btn-orange {
  color: white;
  font-weight: bold;
  border-radius: 10px;
}
.btn-orange:hover {
  background-color: orange;
}
.strike {
  text-decoration: line-through;
}
.text-center {
  text-align: center;
}
.color-white {
  color: white;
}
.color-silver {
  color: silver;
}
.padtop40 {
  padding-top: 40px;
}
.recipient {
  width: 95% !important;
  margin: 0 auto;
  margin-bottom: 20px;
  min-height: 700px;
}
.btn-orange {
  background-color: #ff4500;
  border: 1px gray solid;
}
.btn-orange:hover {
  background-color: #ff6700;
  border: 1px gray solid;
}
.exports {
  width: 60%;
  margin: 0 auto;
}
.one {
  width: 40%;
  margin: 0 auto;
}
.actions {
  width: 10em;
  margin: 4em auto;
}
.actions-float {
  padding-top: 60px;
  width: 30em;
  margin: 0 auto;
  /* border: 5px red solid; */
}
.left {
  float: left;
}
.clear {
  clear: both;
}




/***************  TABLE *********************/

table td.id {
  width: 5%;
}
table td.constat {
  width: 10%;
}
table td.quartier {
  width: 10%;
}
table td.adresse {
  width: 10%;
}
table td.deja_vu {
  width: 5%;
}
table td.reponse {
  width: 20%;
}
table td.suivi {
  width: 20%;
}
table td.Commentaire {
  width: 20%;
}





/***************  FORM  *********************/

form select {
  width: 100%;
  height: 2.5em;
}
form textarea {
  width: 100%;
  border-radius: 5px;
}

/***************  TRAVAUX  ******************/

#travaux {
  display: block;
  height: 15em;
  width: 35em;
  text-align: center;
  border: .5em orangered solid;
  background-color: silver;
  margin: 3em auto;
  padding-top: 3em;
  /* color: orange; */
  letter-spacing: 1px;
  line-height: 1.2em;
}


/**************** FOOTER *****************************/
footer {
  height: 50px;
  margin-bottom: 20px;
  text-align: center;
  color: silver;
}

